@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Gilda+Display");

.img1 {
  background: url("./img/img1.jpeg");
}
.img2 {
  background: url("./img/dp.jpeg") no-repeat;
  width: 60px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}
.cardpadding {
  padding: 2%;
}
.cardImage {
  height: 250px;
}
.navBar {
  padding-left: 2%;
  padding-right: 2%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Josefin Sans", cursive;
}
main {
  flex: 1 0 auto;
}
